<template>
  <div class="row justify-center">
    <q-carousel infinite autoplay class="text-white">
      <img slot="slide" src="statics/machine1.jpg" class="images">
      <img slot="slide" src="statics/machine2.jpg" class="images">
      <img slot="slide" src="statics/machine3.jpg" class="images">
      <img slot="slide" src="statics/machine4.jpg" class="images">
      <img slot="slide" src="statics/machine5.jpg" class="images">
    </q-carousel>

    <div class="content">
      <h1>Gedanken</h1>

      <q-btn outline color="primary" @click="$router.replace('/login/')" class="full-width">Iniciar sesión</q-btn>
      <div class="extra">
        <span>¿No tienes cuenta?</span>
        <q-btn flat color="primary" @click="$router.replace('/register/')">¡Registrate!</q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import {
  QBtn,
  QIcon,
  QCarousel
} from 'quasar'
export default {
  components: {
    QBtn,
    QIcon,
    QCarousel
  },
  data () {
    return {

    }
  },
  methods: {

  }
}
</script>

<style>
.content {
  width: 500px;
  max-width: 90vw;
}

.extra {
  text-align: center;
  margin: 15px;
}

.images {
  width: 100%;
  height: 100%;
}
</style>
