<template>
  <div>
    <img src="statics/barras.png" class="images">

    <div class="content">
      <h1>Ingreso</h1>
      <p>Las interacciones te están esperando</p>
      <div class="divider" align="center">
      </div>

      <q-field>
        <q-input type="text" float-label="Correo electrónico" class="input"/>
      </q-field>
      <q-field>
        <q-input type="password" float-label="Contraseña" class="input"/>
      </q-field>

      <div class="divisor"></div>

      <q-btn outline color="primary" class="full-width">Iniciar sesión</q-btn>
      <div class="extra">
        <span>¿No tienes una cuenta?</span>
        <q-btn flat color="primary" @click="$router.replace('/register/')">¡Registrate!</q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import {
  QBtn,
  QIcon,
  QField,
  QInput
} from 'quasar'
export default {
  components: {
    QBtn,
    QIcon,
    QField,
    QInput
  },
  data () {
    return {

    }
  },
  methods: {

  }
}
</script>

<style>
.content {
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
}

.images {
  width: 100%;
  height: 100%;
}

.divisor {
  margin: 25px 0;
}

.divider:before, .divider:after {
    content: "____________________";
    color: #E6E8EA;
    position: relative;
    bottom: 6px;
}

.extra {
  text-align: center;
  margin: 15px;
}

.input {
  margin: 20px 0;
}
</style>
